@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-8 mb-5">
        <h2>What We Do</h2>
        <hr>
        <p>Provide the best property selling platform.</p>
 
        <a class="btn btn-primary btn-lg" href="/Properties/">View Properties</a>
    </div>
 </div>